/* Import Raleway via @font-face */
@font-face {
    font-family: 'Raleway';
    src: url('/fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('/fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'Raleway';
    src: url('/fonts/Raleway-Italic.ttf') format('truetype');
    font-style: italic;
}
/* responsive*/
@media (max-width: 600px) {
  .infos {
    grid-template-columns: 1fr; /* une seule colonne sur petit écran */
  }
}
body {
  margin: 5%;
  font-family: 'Raleway',Arial, sans-serif;
  background: #f5f5f5;
  
  color: #333;
}
h1, h2, h3, h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
/*section header*/
/* Style général du header */
header {
  background: #00a6b6;
  color: white;
  padding: 10px;
}

/* Organisation en 2 colonnes : photo + bloc texte */
.header-content {
   display: grid;
  grid-template-columns: 1fr 1fr; /* 2 colonnes égales */
  gap: 20; /* supprime tout espace vertical et horizontal entre les colonnes */
  text-align: right; /* texte aligné à droite dans les colonnes */
  margin: 0; /* supprime toute marge autour du container */
  padding: 0; /* supprime tout padding */
  width: 100%; /* le container occupe toute la largeur disponible */
  box-sizing: border-box; /* pour que padding et bordure soient inclus dans la largeur */
  border-radius: 8%;
}

/* Photo arrondie */
.profile-pic {

  border-radius: 50%;
  width: 120px;
  height: 120px;
  transition: transform 0.3s ease;
  cursor: zoom-in;
}
.profile-pic:hover{
   transform: scale(1.05); /* léger zoom visuel au survol */
}
/*title*/
.title{
  flex: 1;
}

/* Nom */
.title h1 {
    
  margin: 0;
  font-size: 32px;
  font-weight: bold;
}

/* Sous-titre */
.title h2 {
    
   margin: 5px 0 15px 0;
  font-weight: normal;
  font-size: 20px;
}


 /* Coordonnées */

.infos {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 colonnes */
   gap: 0; /* aucun espace entre les colonnes */
  margin-left: auto;
  padding: 0;
  width:fit-content;
  justify-content:center;
}
.infos img {
  width: 16px;
  height: 16px;
}
.infos a {
  color: white;
  text-decoration: none;
}
.infos a:hover {
  text-decoration: underline;
}



main {
  display: flex;
  margin: 20px;
}

aside {
  width: 30%;
  padding: 15px;
  background: #f0fafa;
  border-radius: 8px;
}
aside h3 {
  border-bottom: 2px solid #00a6b6;
  padding-bottom: 5px;
  margin-top: 20px;
}

aside ul {
  list-style: none;
  padding: 0;
}

aside ul li {
  margin: 5px 0;
}

.content {
 /* width: 70%;
  padding: 0 20px;*/

  padding: 10px;
  border-left: 3px solid transparent; /* invisible par défaut */
  transition: all 0.3s ease;
}
.content:hover {
  border-left: 3px solid #009688;  /* même couleur que les titres */
  background-color: #f5f5f5;       /* fond légèrement gris */
}

 h3 {
  color: #00a6b6;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
  margin-top: 20px;


}


.date {
  float: right;
  color: #00a6b6;
}

.stars {
  color: #ff9800;
}

footer {
  text-align: center;
  padding: 0px;
  background: #00a6b6;
  color: white;
  margin-top: 0px;
}
.socials img {
  margin: 0 10px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  transition: opacity 0.3s ease;
}
.socials img:hover {
opacity: 0.7;
}
.content {
  width: 70%;
  padding: 0 20px;
 
}
.item
{
  list-style: none;         /* pas de puces */
  padding: 8px 12px;
  background-color: #f0f0f0; /* couleur de base */
  margin-bottom: 6px;
  border-radius: 5px;
  transition: background-color 0.3s ease; /* animation fluide */
  
}
.item li{
  margin: 5px 0;
  justify-content: space-between;
  margin-bottom: 20px;
}
ul li:hover {
  background-color: #cad1d2; /* couleur quand la souris passe */
  color: white;              /* texte devient blanc */
  cursor: pointer;           /* pointeur main */
}

.content h3 {
  color: #00a6b6;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
  margin-top: 20px;
}

.date {
  float: right;
  color: #00a6b6;
}